p {
  font-family: Lato;
}

.qc-text-input {
    width: 238px;
}
/* Customizing DropDownList labels */
.e-float-input:not(.e-input-focus):not(.e-disabled) input:not(:focus):not(:valid) ~ label.e-float-text:not(.e-label-top), 
.e-float-input:not(.e-input-focus) textarea:not(:focus):not(:valid) ~ label.e-float-text:not(.e-label-top), 
.e-float-input.e-control-wrapper:not(.e-input-focus):not(.e-disabled) input:not(:focus):not(:valid) ~ label.e-float-text:not(.e-label-top) { 
  color:black; /* !important; */
  font-size: 14px;
} 
.e-float-input:not(.e-input-focus):not(.e-disabled) input:not(:focus):not(:valid) ~ label.e-float-text:not(.e-label-top), 
.e-float-input:not(.e-input-focus) textarea:not(:focus):not(:valid) ~ label.e-float-text:not(.e-label-top), 
.e-float-input.e-control-wrapper:not(.e-input-focus):not(.e-disabled) input:not(:focus):not(:valid) ~ label.e-float-text:not(.e-label-top)::before { 
  content: 'Select ';
} 
/* .e-float-input.e-control-wrapper:not(.e-input-focus):not(.e-disabled) input:not(:focus):not(:required) ~ label.e-float-text:not(.e-label-top)::after { */
.e-float-input.e-control-wrapper:not(.e-input-focus):not(.e-disabled) select:not(:required) ~ label.e-float-text:not(.e-label-top)::after {
  content:"  ALL";
} 
/* Customizing MultiSelect labels */
/* .e-float-input:not(.e-error):not(.e-input-focus) input:not(:focus):valid ~ label.e-float-text:not(.e-label-top), .e-float-input.e-control-wrapper:not(.e-error):not(.e-input-focus) input:not(:focus):valid ~ label.e-float-text:not(.e-label-top), .e-float-input.e-bigger:not(.e-error):not(.e-input-focus) input:not(:focus):valid ~ label.e-float-text:not(.e-label-top) {
    color: black;
    font-size:14px;
  }
   .e-float-input:not(.e-error):not(.e-input-focus) input:not(:focus):valid ~ label.e-float-text.e-label-bottom::before, .e-float-input.e-control-wrapper:not(.e-error):not(.e-input-focus) input:not(:focus):valid ~ label.e-float-text.e-label-bottom::before, .e-float-input.e-bigger:not(.e-error):not(.e-input-focus) input:not(:focus):valid ~ label.e-float-text.e-label-bottom::before {
    content:"Select ";
   }
   .e-float-input:not(.e-error):not(.e-input-focus) input:not(:focus):valid ~ label.e-float-text.e-label-bottom::after, .e-float-input.e-control-wrapper:not(.e-error):not(.e-input-focus) input:not(:focus):valid ~ label.e-float-text.e-label-bottom::after, .e-float-input.e-bigger:not(.e-error):not(.e-input-focus) input:not(:focus):valid ~ label.e-float-text.e-label-bottom::after {
    content:"  ALL";
   } */
 
/* Adding required red dot to Required fields */
/* First line catches the DatePickers, and the second the DropDownLists */
.e-float-input.e-control-wrapper input:required ~ label.e-float-text::after,
.e-float-input.e-control-wrapper select:required ~ label.e-float-text::after
{
  content: ' * ';
  color:red;
} 